/*########  Change Bootstrap Defaults ########*/
body {
	background: #4b80bb;
	overflow: hidden;
}

body > .container {
	margin-bottom: 40px;
}

div.content {
	padding-top: 60px;
	padding-bottom: 30px;
}

* {
	border-radius: 0 !important;
}

.navbar {
	border-radius: 0px;
}

.text-error {
	color: #a94442;
}

.form-alert {
	float: right;
	padding-right: 20px;
}

.modal-lg {
    margin-top: 100px;
    width: 90%;
}

button a {
	color: #fff;
	text-decoration: none;
}

.modal button a:hover {
	color: #fff;
}

/*########  Tag/Typeahead Layout ########*/

.bootstrap-tagsinput {
	width: 100%;
	margin-top: -6px;
	overflow: hidden;
}

#tagsModal .control-label {
	display: none;
}

.bootstrap-tagsinput .label-info {
	background-color:#2f7fd7;
	font-size: 80%;
}

i.fa-tags {
	padding-right: 5px;
}

/*########  Special Layouts ########*/

.dropzone-previews {
    position: fixed;
    bottom: 0;
    height: 62px;
    width: 100%;
    font-size: 12px;
}

.dropzone-previews .well {
	padding-top: 3px;
}

.packetStats {
	z-index: 10;
}

.panel-heading .fa {
	padding-top: 3px;
}

.filter-wrapper {
	margin-top: 4px;
	margin-left: 10px;
	overflow: hidden;
	height: 85%;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	padding: 1px 6px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px;
	max-width: 100%;
	width: 37.5%;
	line-height: 22px;
	cursor: text;
}

.filter-wrapper input {
	border: 0;
	width: 80%;
}

#clear-filter i {
	padding-top: 10px;
}

.captureButtons { padding-top: 3px;}
#custom-toolbar {
	padding-left: 20px;
	width: 1400px;
}

.columns-right {
	margin-right: 10px;
}

.editname input {
	width: 60%;
}

.chart-title {
	font-size: 18px; 
	font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}

.upload, form.dropzone {
	height: 200px;
	margin-bottom: 30px;
}

.panel-heading .pull-right i {
	padding-right: 15px;
}

.panel-heading small {
	padding-top: 2px;
}

.packetTitle {
	height: 40px;
}

/*########  Packet View  ########*/

.spinner {
	padding-top: 20px;
}

.packetList table {
	font-size: 85%;
}

.packetList tbody {
	margin-top: -5px;
}

.packets {
	position: fixed;
	bottom: 0;
	height: 90%;
	width: 100%;
	margin-bottom: 0;
	margin-left: -15px;
}

.packets .panel-body {
	padding: 0;
	padding-left: 10px;
}

.packetPane .panel-heading, .packetPane .panel-heading {
	padding: 2px;
}

.packetPane .panel, .packetPane .panel-body p {
	margin: 0 2px;
	padding: 0 2px;
}
