/*########  Change Bootstrap Defaults ########*/
body {
	background: #4b80bb;
}

body > .container {
	margin-bottom: 40px;
}

div.content {
	padding-top: 60px;
	padding-bottom: 30px;
}

* {
	border-radius: 0 !important;
}

.navbar {
	border-radius: 0px;
}

.text-error {
	color: #a94442;
}

.form-alert {
	float: right;
	padding-right: 20px;
}

.modal-dialog {
    margin-top: 100px;
}

button a {
	color: #fff;
	text-decoration: none;
}

/*########  Tag/Typeahead Layout ########*/

.bootstrap-tagsinput {
	width: 100%;
	margin-top: -6px;
	overflow: hidden;
}

.form-group .control-label {
	display: none;
}

.bootstrap-tagsinput .label-info {
	background-color:#2f7fd7;
	font-size: 80%;
}

i.fa-tags {
	padding-right: 5px;
}

/*########  Special Layouts ########*/

.panel-heading .fa {
	padding-top: 3px;
}

.chart-title {
	font-size: 18px; 
	font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}

.upload, form.dropzone {
	height: 200px;
	margin-bottom: 30px;
}

.panel-heading .pull-right i {
	padding-left: 15px;
}

.panel-heading small {
	padding-top: 2px;
}

.packetTitle {
	height: 40px;
}

/*########  Packet View  ########*/


table#packetList {
	font-size: 85%;
}

.tracefiles {
	min-height: 350px;
}
