{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% import "library.html" as library %}

{% block title %}
{{ super()}}
Captures - {{ traceFile.name }}
{% endblock %} 

{% block content %}
{{ super() }}


<div class="container-fluid content">
	
	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %} 
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		<br/>

		<div class="row">
			<div class="panel panel-default">
					<div class="panel-heading packetTitle">
						<div class="col-md-4">
							<span class="filename">
								<span>{{ traceFile.name }}</span>.{{ traceFile.filetype }}
								<a id="editName"><i class="fa fa-pencil-square-o"></i></a>
							</span>
							<span class="editname hide">
								<input class="form filename "/>.{{ traceFile.filetype }}
								<a id="saveName"><i class="fa fa-floppy-o"> </i></a>
							</span>
						</div>


						<div class="col-md-3 text-center">
							<small class=""> ({{ traceFile.packet_count }} packets, {{ ((traceFile.filesize|float) / 1024.0)|format_comma}} KBytes)</small>
							<a href="#" id="packetStats" data-toggle="modal", data-target="#packetStatsModal"> 
								<i class="fa fa-bar-chart fa-2x pull-right" style="margin-top: -3px;"></i> 
							</a>
							<a href="{{ url_for('download_file', file_id=traceFile.id, attachment_name='%s.%s' % (traceFile.name, traceFile.filetype)) }}">
							<i class="fa fa-download pull-right fa-2x" style="margin-top: -3px;"></i>
							</a>
						</div>

						<div class="col-md-4 pull-right">
					        {{ wtf.form_field(form.tags, class="", **{'data-role':'tagsinput', 'data-provide':'typeahead'}) }}
				     	</div>
					</div>
			
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default packets">
			  <div class="panel-heading">
				  Packets
				  <a href="#" id="clear-filter"><i  class="fa fa-ban text-danger pull-right"></i></a>
				  <small class="text-center text-muted">({{ display_count }} packets displayed)</small>
				  <div class="filter-wrapper pull-right">
					  <i class="fa fa-filter"></i>
					  <input id="display-filter" class="form" placeholder="Display Filter"></input>
				  </div>
			  </div>
			  <div class="panel-body">
		{% if details %}

				<div class="packetList">
					<table class="table table-condensed table-hover" >
					  	<thead><tr>
					  		<th>#</th>
						  	<th>Time</th>
						  	<th>Delta</th>
						  	<th>Source</th> <!-- <small class="pull-right text-muted">(port)</small> -->
						  	<th>Destination</th>
						  	<th>Protocol</th>
						  	<th>Info</th>
						  	<!-- <th>Length</th> -->
					  	</tr></thead>

				  		{% for packet in details['packets'] %}
				  		<tr><tbody>
				  				<td class="number">{{ packet.number }}</td>
				  				<td>{{ packet.time }}</td>
				  				<td>{{ packet.delta }}</td>
				  			  	<td>{{ packet.src_ip}} </td>
				  			  	<td>{{ packet.dst_ip }} </td> <!-- <small class="pull-right text-muted">({{ packet.dst_port }}) </small> -->
				  			  	<td>{{ packet.protocol }}</td>
				  			  	<td style="max-width: 200px;white-space:nowrap; overflow: hidden;">{{ packet.desc }}</td>
				  			  	<!-- <td>{{ packet.length }}</td> -->
				  		</tr></tbody>
				  		{% endfor %}
				  	</table>
				</div>
			  	<div class="packetView">
			  		<div class="spinner text-center hide"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
			  		<div class="packetPane" id="accordion" role="tablist" aria-multiselectable="true">
			  		</div>
			  	</div>	
		  	</div>	
		</div>
		


			<!-- Packet Stats Modal -->
			<div class="modal fade" id="packetStatsModal">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title">Packet Stats</h4>
			      </div>
			      <div class="modal-body">
			      	<div class="col-md-4">
			      		{% column_chart details['stats']['breakdown'] with library=library.col_library %}
			      	</div>
			      	<div class="col-md-4">
			      		{% pie_chart details['stats']['length_buckets'] with library=library.pie_library %}
			      	</div>
			      	<div class="col-md-4">
			      		<h4 class="chart-title text-center">Capture File Stats</h4>
			      		</br>
			      		<div style="min-height: 150px;">
			      			<dl class="dl-horizontal">
			      			  <dt>Packet Count</dt>
			      			  <dd>{{ traceFile.packet_count }}</dd>
			      			  <dt>File Size</dt>
			      			  <dd>{{ traceFile.filesize|format_comma }} Bytes</dd>
			      			  <dt>Average Packet Length</dt>
			      			  <dd>{{ details['stats']['avg_length'] }} Bytes</dd>
			      			</dl>
			      		</div>
			      	</div>

			      </div>
			      <div class="modal-footer">
			      </div>
			        </form>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		{% else %}
			</div>
		</div>
		{% endif %}
	</div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap3-typeahead.min.js') }}"></script>

<script type="text/javascript">

	var tag_list = [{% for tag in tags%} "{{tag}}",{% endfor %}];

	$(document).ready(function(){

		// $('.table-hover').fixedHeaderTable();
		$('a#packetStats').on('click', function(e){
			e.preventDefault();
			$('div.packetStats').toggleClass('hide');
		});

		$('.bootstrap-tagsinput').prepend('<i class="fa fa-tags"></i>');

		$('input#tags').on('itemAdded itemRemoved', function(event) {
	   		event.preventDefault();
	   		var data = $('input#tags').val();

	   		$.ajax({
	   			type : "POST",
	   			url : "/savetags/{{ traceFile.id }}",
	   			data : data,
	   			dataType : "json",
	   			contentType: 'application/json;charset=UTF-8'
	   		});

	   	});

	   	$('a#editName').on('click', function(event) {
	   		event.preventDefault();

	   		$('span.editname').removeClass('hide');
	   		$('span.filename').addClass('hide');
	   		$('input.filename').val("{{ traceFile.name }}");
	   		$('input.filename').focus();

	   	});

	   	$('a#saveName').on('click', function(event){
	   		event.preventDefault();
	   		data = $('input.filename').val();

	   		$.ajax({
	   			type : "POST",
	   			url : "/savename/{{ traceFile.id }}",
	   			data : data,
	   			dataType : "json",
	   			contentType: 'application/json;charset=UTF-8',

	   		});

	   		$('span.editname').addClass('hide');
	   		$('span.filename').removeClass('hide');
	   		$('span.filename span').text(data);
	   	});
	   	
	   $('input.filename').keyup(function(e){
	   		event.preventDefault();
	   		
	   		if (e.keyCode == 13) {
	   			$('a#saveName').trigger('click');
	   		}
	   });

	   $('tbody tr').on('click', function(e){
	   		e.preventDefault();
	   		var packetPane = $('.packetPane')
	   		packetPane.html('');
	   		$('.spinner').removeClass('hide');

	   		var packetDetail = $.ajax({
	   			type : "GET",
	   			url : "/captures/{{ traceFile.id }}/packetDetail/" + $(this).children().first().text(),
	   			contentType: 'application/text;charset=UTF-8',
	   			success: function(text){
			   		$('.spinner').addClass('hide');
			   		packetPane.html(text);
			   	}

	   		});

	   });

	   function getUrlVars()
	   {
	       var vars = [], hash;
	       var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	       for(var i = 0; i < hashes.length; i++)
	       {
	           hash = hashes[i].split('=');
	           vars.push(hash[0]);
	           vars[hash[0]] = hash[1];
	       }
	       return vars;
	   }

	   var display_filter = decodeURIComponent(getUrlVars()["display_filter"]);

	   if (display_filter != 'undefined') {
	   	  $('input#display-filter').val(display_filter);
	   }


	   $('input#display-filter').keyup(function(e){
	   		event.preventDefault();
	   		
	   		if (e.keyCode == 13) {
	   			window.location.href= window.location.pathname + '?display_filter=' + $('input#display-filter').val();
	   		}
	   });

	   $('#clear-filter').on('click', function(e){
	   		e.preventDefault();
	   		console.log('clear filter clicked: '+ window.location.pathname.split('?')[0]);
	   		window.location.href= window.location.pathname.split('?')[0];
	   });

		$(".bootstrap-tagsinput input").typeahead({ source:tag_list, confirmKeys: [13, 44] });

		// $('.collapse').collapse();
	});
</script>
{% endblock %}